@media only screen and (min-width: 1050px) {
    .album {
        grid-template-columns: 1fr 1fr;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        flex-direction: row;
        margin-right: 1rem;
    }

    nav {
        display: flex;
    }

    #hamburger {
        display: none;
    }
}

@media only screen and (min-width: 1550px) {
    .album {
        grid-template-columns: 1fr 1fr 1fr;
    }
}